        <div class="admin-nav__admin">
            <div class="admin-nav-title">
                <h1>{{titleEdit}}:{{userProfile}}</h1>
            </div>
            <div class="admin-nav-item">
                <a href="/edit/pageNewProfile">Добавить новую</a>
            </div>
            <div class="admin-nav-item">
                <a href="/edit/pageListAdmin">Учетные записи</a>
            </div>
            <div class="admin-nav-item">
                <a href="/user/logout" class="exit">Выход</a>
            </div>
        </div>