<div class="admin-nav">
            <div class="admin-nav-title">
                <h1>{{title}}</h1>
            </div>
            <div class="admin-nav-item">
                <a href="/edit/pageEdit">Вернуться назад</a>
            </div>
            <div class="admin-nav-item">
                <a href="/user/logout" class="exit">Выход</a>
            </div>
</div>