<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/admin-style.css">
    <script src="../scripts/index.js" defer type="module"></script>
    <title>{{titleEdit}}</title>
</head>

<body>
    <div class="container">
      <h1>{{title}}</h1> <a href="{{linkLogout}}">войти</a>
    </div>
</body>

</html>