<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0058ab">
    <meta name="theme-color" content="#0058ab">
    <title>Справочник телефонов "Минсктранс"</title>
        <script src="../scripts/bundle.js" type="module" defer></script>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    {{!-- <div class="preloader active"></div> --}}
    <main>
        <div class="container">
            <div class="goods wrapper">
                <h1 class="favorite-title">Избранные:</h1>
                <ul class="list-pagination"></ul>
                <div class="content-section">
                    <div class="header-goods">
                        <p>ФИО</p>
                        <p>Управление/Отдел</p>
                        <p>Должность</p>
                        <p>Номер телефона</p>
                        <p>Эл. почта</p>
                    </div>
                    <ul class="goods-list"></ul>
                </div>
            </div>
        </div>
    </main>
</body>

</html>