<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/admin-style.css">
    <script src="../scripts/index.js" defer type="module"></script>
    <title></title>
</head>
    <body>

       <div class="container">
           <div class="login-form">
               <div class="login-header-form">Авторизация</div>
               <form action="/user/auth" method="POST" class="form-login">
                <div class="item-form-login"><span class="required"></span></label><input type="text" name="login" class="input-form-login" placeholder="Введите логин" ></div> 
                <div class="item-form-login"><span class="required"></span><input type="password" name="password" class="input-form-login" placeholder="Введите пароль"></div>
                <p>{{invalid}}</p>
                <input type="submit" value="Войти" class="submit-btn">
               </form>
           </div>
       </div>

    </body>
</html>