<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="99%" cellspacing="0" cellpadding="1" bgcolor="#FFFFFF" id="ar">
<tbody><tr>
<td class="dat" bgcolor="#F2F2F2" width="">02.02.2021</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">00</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">03</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">06</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">09</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">12</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">15</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">18</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">21</td>
</tr>
<tr><td class="legend">Температура воздуха, °C</td>
<td class="meteo">-14.9</td>
<td class="meteo">-15.3</td>
<td class="meteo">-11.5</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Давление на уровне моря, гПа</td>
<td class="meteo">1015</td>
<td class="meteo">1016</td>
<td class="meteo">1016</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Влажность, %</td>
<td class="meteo">87</td>
<td class="meteo">86</td>
<td class="meteo">90</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Направление и скорость ветра, м/с</td>
<td class="meteo">Северный, 1</td>
<td class="meteo">С-В, 1</td>
<td class="meteo">С-В, 1</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Метеорологическое явление</td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Облачность</td>
<td class="meteo">Небольшая<br>облачность</td>
<td class="meteo">Переменная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Видимость, км</td>
<td class="meteo">9.0</td>
<td class="meteo">9.0</td>
<td class="meteo">3.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Минимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo">-15.4</td>
<td class="meteo">-16.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Максимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Температура на высоте 2 см, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Снежный покров, см</td>
<td class="meteo"></td>
<td class="meteo">20</td>
<td class="meteo">20</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Осадки за 12 ч, мм</td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.0</font></td>
<td class="meteo">0.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Порыв ветра, м/с</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td></tr>
<tr>
<td class="dat" bgcolor="#F2F2F2" width="">01.02.2021</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">00</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">03</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">06</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">09</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">12</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">15</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">18</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">21</td>
</tr>
<tr><td class="legend">Температура воздуха, °C</td>
<td class="meteo">-3.8</td>
<td class="meteo">-5.4</td>
<td class="meteo">-8.6</td>
<td class="meteo">-6.9</td>
<td class="meteo">-4.1</td>
<td class="meteo">-5.6</td>
<td class="meteo">-11.1</td>
<td class="meteo">-13.9</td>
</tr>
<tr><td class="legend">Давление на уровне моря, гПа</td>
<td class="meteo">1007</td>
<td class="meteo">1007</td>
<td class="meteo">1008</td>
<td class="meteo">1010</td>
<td class="meteo">1010</td>
<td class="meteo">1011</td>
<td class="meteo">1013</td>
<td class="meteo">1014</td>
</tr>
<tr><td class="legend">Влажность, %</td>
<td class="meteo">85</td>
<td class="meteo">86</td>
<td class="meteo">89</td>
<td class="meteo">77</td>
<td class="meteo">72</td>
<td class="meteo">81</td>
<td class="meteo">91</td>
<td class="meteo">88</td>
</tr>
<tr><td class="legend">Направление и скорость ветра, м/с</td>
<td class="meteo">Ю-З, 4</td>
<td class="meteo">Южный, 4</td>
<td class="meteo">Южный, 2</td>
<td class="meteo">Южный, 4</td>
<td class="meteo">Южный, 3</td>
<td class="meteo">Южный, 2</td>
<td class="meteo">Штиль</td>
<td class="meteo">Штиль</td>
</tr>
<tr><td class="legend">Метеорологическое явление</td>
<td class="meteo"><font color="#cc00ff">Ливневый<br>снег</font></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"><font color="#666">Дымка</font></td>
</tr>
<tr><td class="legend">Облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Безоблачно</td>
<td class="meteo">Безоблачно</td>
<td class="meteo">Небольшая<br>облачность</td>
<td class="meteo">Небольшая<br>облачность</td>
<td class="meteo">Безоблачно</td>
<td class="meteo">Безоблачно</td>
</tr>
<tr><td class="legend">Видимость, км</td>
<td class="meteo">9.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">9.0</td>
</tr>
<tr><td class="legend">Минимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo">-5.5</td>
<td class="meteo">-8.8</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Максимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">-3.6</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Температура на высоте 2 см, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Снежный покров, см</td>
<td class="meteo"></td>
<td class="meteo">21</td>
<td class="meteo">21</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">20</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Осадки за 12 ч, мм</td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.0</font></td>
<td class="meteo">0.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.0</font></td>
<td class="meteo">0.0</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Порыв ветра, м/с</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td></tr>
<tr>
<td class="dat" bgcolor="#F2F2F2" width="">31.01.2021</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">00</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">03</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">06</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">09</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">12</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">15</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">18</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">21</td>
</tr>
<tr><td class="legend">Температура воздуха, °C</td>
<td class="meteo">-3.5</td>
<td class="meteo">-3.9</td>
<td class="meteo">-4.2</td>
<td class="meteo">-3.2</td>
<td class="meteo">-2.5</td>
<td class="meteo">-3.0</td>
<td class="meteo">-3.1</td>
<td class="meteo">-3.4</td>
</tr>
<tr><td class="legend">Давление на уровне моря, гПа</td>
<td class="meteo">996</td>
<td class="meteo">997</td>
<td class="meteo">998</td>
<td class="meteo">1000</td>
<td class="meteo">1001</td>
<td class="meteo">1003</td>
<td class="meteo">1004</td>
<td class="meteo">1006</td>
</tr>
<tr><td class="legend">Влажность, %</td>
<td class="meteo">88</td>
<td class="meteo">86</td>
<td class="meteo">87</td>
<td class="meteo">83</td>
<td class="meteo">83</td>
<td class="meteo">86</td>
<td class="meteo">85</td>
<td class="meteo">89</td>
</tr>
<tr><td class="legend">Направление и скорость ветра, м/с</td>
<td class="meteo">Ю-З, 2</td>
<td class="meteo">Ю-З, 3</td>
<td class="meteo">Ю-З, 2</td>
<td class="meteo">Ю-З, 3</td>
<td class="meteo">Ю-З, 3</td>
<td class="meteo">Ю-З, 3</td>
<td class="meteo">Ю-З, 3</td>
<td class="meteo">Ю-З, 5</td>
</tr>
<tr><td class="legend">Метеорологическое явление</td>
<td class="meteo"></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"></td>
<td class="meteo"><font color="#cc00ff">Ливневый<br>снег</font></td>
<td class="meteo"><font color="#cc00ff">Ливневый<br>снег</font></td>
<td class="meteo"><font color="#cc00ff">Ливневый<br>снег</font></td>
<td class="meteo"></td>
<td class="meteo"><font color="#cc00ff">Ливневый<br>снег</font></td>
</tr>
<tr><td class="legend">Облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
</tr>
<tr><td class="legend">Видимость, км</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">9.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
</tr>
<tr><td class="legend">Минимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo">-4.4</td>
<td class="meteo">-4.6</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Максимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">-2.4</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Температура на высоте 2 см, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Снежный покров, см</td>
<td class="meteo"></td>
<td class="meteo">21</td>
<td class="meteo">21</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">20</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Осадки за 12 ч, мм</td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.2</font></td>
<td class="meteo">0.2</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.2</font></td>
<td class="meteo">0.2</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Порыв ветра, м/с</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">10</td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td></tr>
<tr>
<td class="dat" bgcolor="#F2F2F2" width="">30.01.2021</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">00</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">03</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">06</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">09</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">12</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">15</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">18</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">21</td>
</tr>
<tr><td class="legend">Температура воздуха, °C</td>
<td class="meteo">-4.2</td>
<td class="meteo">-4.6</td>
<td class="meteo">-4.5</td>
<td class="meteo">-4.2</td>
<td class="meteo">-3.1</td>
<td class="meteo">-3.2</td>
<td class="meteo">-3.3</td>
<td class="meteo">-4.0</td>
</tr>
<tr><td class="legend">Давление на уровне моря, гПа</td>
<td class="meteo">993</td>
<td class="meteo">994</td>
<td class="meteo">994</td>
<td class="meteo">995</td>
<td class="meteo">995</td>
<td class="meteo">995</td>
<td class="meteo">995</td>
<td class="meteo">995</td>
</tr>
<tr><td class="legend">Влажность, %</td>
<td class="meteo">87</td>
<td class="meteo">85</td>
<td class="meteo">85</td>
<td class="meteo">84</td>
<td class="meteo">81</td>
<td class="meteo">86</td>
<td class="meteo">87</td>
<td class="meteo">91</td>
</tr>
<tr><td class="legend">Направление и скорость ветра, м/с</td>
<td class="meteo">Ю-З, 3</td>
<td class="meteo">Ю-З, 3</td>
<td class="meteo">Ю-З, 4</td>
<td class="meteo">Ю-З, 3</td>
<td class="meteo">Ю-З, 4</td>
<td class="meteo">Ю-З, 3</td>
<td class="meteo">Ю-З, 1</td>
<td class="meteo">Ю-З, 2</td>
</tr>
<tr><td class="legend">Метеорологическое явление</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
</tr>
<tr><td class="legend">Видимость, км</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
</tr>
<tr><td class="legend">Минимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo">-4.6</td>
<td class="meteo">-4.6</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Максимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">-2.8</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Температура на высоте 2 см, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Снежный покров, см</td>
<td class="meteo"></td>
<td class="meteo">23</td>
<td class="meteo">23</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">22</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Осадки за 12 ч, мм</td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.2</font></td>
<td class="meteo">0.2</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.0</font></td>
<td class="meteo">0.0</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Порыв ветра, м/с</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td></tr>
<tr>
<td class="dat" bgcolor="#F2F2F2" width="">29.01.2021</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">00</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">03</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">06</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">09</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">12</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">15</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">18</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">21</td>
</tr>
<tr><td class="legend">Температура воздуха, °C</td>
<td class="meteo">-2.8</td>
<td class="meteo">-3.5</td>
<td class="meteo">-3.9</td>
<td class="meteo">-3.8</td>
<td class="meteo">-3.7</td>
<td class="meteo">-4.0</td>
<td class="meteo">-3.9</td>
<td class="meteo">-3.9</td>
</tr>
<tr><td class="legend">Давление на уровне моря, гПа</td>
<td class="meteo">996</td>
<td class="meteo">995</td>
<td class="meteo">993</td>
<td class="meteo">992</td>
<td class="meteo">991</td>
<td class="meteo">991</td>
<td class="meteo">992</td>
<td class="meteo">993</td>
</tr>
<tr><td class="legend">Влажность, %</td>
<td class="meteo">95</td>
<td class="meteo">89</td>
<td class="meteo">90</td>
<td class="meteo">87</td>
<td class="meteo">88</td>
<td class="meteo">91</td>
<td class="meteo">91</td>
<td class="meteo">90</td>
</tr>
<tr><td class="legend">Направление и скорость ветра, м/с</td>
<td class="meteo">Западный, 2</td>
<td class="meteo">С-З, 1</td>
<td class="meteo">Западный, 1</td>
<td class="meteo">Западный, 2</td>
<td class="meteo">Западный, 3</td>
<td class="meteo">Западный, 3</td>
<td class="meteo">Западный, 3</td>
<td class="meteo">Западный, 3</td>
</tr>
<tr><td class="legend">Метеорологическое явление</td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
</tr>
<tr><td class="legend">Облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
</tr>
<tr><td class="legend">Видимость, км</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">8.0</td>
<td class="meteo">9.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
</tr>
<tr><td class="legend">Минимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo">-3.5</td>
<td class="meteo">-4.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Максимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">-3.6</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Температура на высоте 2 см, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Снежный покров, см</td>
<td class="meteo"></td>
<td class="meteo">23</td>
<td class="meteo">23</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">23</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Осадки за 12 ч, мм</td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.0</font></td>
<td class="meteo">0.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.2</font></td>
<td class="meteo">0.5</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Порыв ветра, м/с</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td></tr>
<tr>
<td class="dat" bgcolor="#F2F2F2" width="">28.01.2021</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">00</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">03</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">06</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">09</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">12</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">15</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">18</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">21</td>
</tr>
<tr><td class="legend">Температура воздуха, °C</td>
<td class="meteo">-0.3</td>
<td class="meteo">-0.7</td>
<td class="meteo">-1.2</td>
<td class="meteo">-1.2</td>
<td class="meteo">-0.8</td>
<td class="meteo">-1.3</td>
<td class="meteo">-1.7</td>
<td class="meteo">-2.2</td>
</tr>
<tr><td class="legend">Давление на уровне моря, гПа</td>
<td class="meteo">1005</td>
<td class="meteo">1005</td>
<td class="meteo">1004</td>
<td class="meteo">1004</td>
<td class="meteo">1003</td>
<td class="meteo">1001</td>
<td class="meteo">1000</td>
<td class="meteo">999</td>
</tr>
<tr><td class="legend">Влажность, %</td>
<td class="meteo">96</td>
<td class="meteo">96</td>
<td class="meteo">95</td>
<td class="meteo">94</td>
<td class="meteo">93</td>
<td class="meteo">95</td>
<td class="meteo">95</td>
<td class="meteo">96</td>
</tr>
<tr><td class="legend">Направление и скорость ветра, м/с</td>
<td class="meteo">Западный, 2</td>
<td class="meteo">Западный, 2</td>
<td class="meteo">Западный, 2</td>
<td class="meteo">Западный, 2</td>
<td class="meteo">Западный, 2</td>
<td class="meteo">Западный, 2</td>
<td class="meteo">Западный, 2</td>
<td class="meteo">Западный, 2</td>
</tr>
<tr><td class="legend">Метеорологическое явление</td>
<td class="meteo"></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
</tr>
<tr><td class="legend">Облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
</tr>
<tr><td class="legend">Видимость, км</td>
<td class="meteo">10.0</td>
<td class="meteo">3.2</td>
<td class="meteo">10.0</td>
<td class="meteo">4.5</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">8.0</td>
</tr>
<tr><td class="legend">Минимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo">-0.7</td>
<td class="meteo">-1.2</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Максимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">-0.7</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Температура на высоте 2 см, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Снежный покров, см</td>
<td class="meteo"></td>
<td class="meteo">22</td>
<td class="meteo">22</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">23</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Осадки за 12 ч, мм</td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">2.0</font></td>
<td class="meteo">2.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.6</font></td>
<td class="meteo">0.6</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Порыв ветра, м/с</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td></tr>
<tr>
<td class="dat" bgcolor="#F2F2F2" width="">27.01.2021</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">00</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">03</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">06</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">09</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">12</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">15</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">18</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">21</td>
</tr>
<tr><td class="legend">Температура воздуха, °C</td>
<td class="meteo">-0.7</td>
<td class="meteo">-0.6</td>
<td class="meteo">-0.7</td>
<td class="meteo">+0.0</td>
<td class="meteo">+0.4</td>
<td class="meteo">+0.3</td>
<td class="meteo">-0.1</td>
<td class="meteo">-0.3</td>
</tr>
<tr><td class="legend">Давление на уровне моря, гПа</td>
<td class="meteo">996</td>
<td class="meteo">999</td>
<td class="meteo">1001</td>
<td class="meteo">1002</td>
<td class="meteo">1003</td>
<td class="meteo">1004</td>
<td class="meteo">1005</td>
<td class="meteo">1005</td>
</tr>
<tr><td class="legend">Влажность, %</td>
<td class="meteo">94</td>
<td class="meteo">92</td>
<td class="meteo">92</td>
<td class="meteo">90</td>
<td class="meteo">90</td>
<td class="meteo">95</td>
<td class="meteo">95</td>
<td class="meteo">95</td>
</tr>
<tr><td class="legend">Направление и скорость ветра, м/с</td>
<td class="meteo">Ю-З, 4</td>
<td class="meteo">Ю-З, 3</td>
<td class="meteo">Ю-З, 3</td>
<td class="meteo">Ю-З, 3</td>
<td class="meteo">Южный, 3</td>
<td class="meteo">Южный, 2</td>
<td class="meteo">Ю-З, 2</td>
<td class="meteo">Ю-З, 1</td>
</tr>
<tr><td class="legend">Метеорологическое явление</td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
</tr>
<tr><td class="legend">Видимость, км</td>
<td class="meteo">7.0</td>
<td class="meteo">6.0</td>
<td class="meteo">8.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">6.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
</tr>
<tr><td class="legend">Минимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo">-0.8</td>
<td class="meteo">-0.8</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Максимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">+0.4</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Температура на высоте 2 см, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Снежный покров, см</td>
<td class="meteo"></td>
<td class="meteo">19</td>
<td class="meteo">20</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">21</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Осадки за 12 ч, мм</td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">5.0</font></td>
<td class="meteo">8.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">1.0</font></td>
<td class="meteo">2.0</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Порыв ветра, м/с</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td></tr>
<tr>
<td class="dat" bgcolor="#F2F2F2" width="">26.01.2021</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">00</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">03</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">06</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">09</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">12</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">15</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">18</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">21</td>
</tr>
<tr><td class="legend">Температура воздуха, °C</td>
<td class="meteo">+0.8</td>
<td class="meteo">+1.7</td>
<td class="meteo">+3.8</td>
<td class="meteo">+1.5</td>
<td class="meteo">+0.9</td>
<td class="meteo">+0.6</td>
<td class="meteo">+0.3</td>
<td class="meteo">-0.4</td>
</tr>
<tr><td class="legend">Давление на уровне моря, гПа</td>
<td class="meteo">993</td>
<td class="meteo">991</td>
<td class="meteo">989</td>
<td class="meteo">989</td>
<td class="meteo">988</td>
<td class="meteo">988</td>
<td class="meteo">990</td>
<td class="meteo">993</td>
</tr>
<tr><td class="legend">Влажность, %</td>
<td class="meteo">99</td>
<td class="meteo">99</td>
<td class="meteo">98</td>
<td class="meteo">96</td>
<td class="meteo">96</td>
<td class="meteo">97</td>
<td class="meteo">98</td>
<td class="meteo">97</td>
</tr>
<tr><td class="legend">Направление и скорость ветра, м/с</td>
<td class="meteo">С-В, 2</td>
<td class="meteo">С-В, 2</td>
<td class="meteo">Восточный, 4</td>
<td class="meteo">С-В, 3</td>
<td class="meteo">Северный, 1</td>
<td class="meteo">С-З, 2</td>
<td class="meteo">Западный, 3</td>
<td class="meteo">Ю-З, 4</td>
</tr>
<tr><td class="legend">Метеорологическое явление</td>
<td class="meteo"><font color="#0099ff">Дождь</font></td>
<td class="meteo"><font color="#0099ff">Дождь</font></td>
<td class="meteo"><font color="#0099ff">Дождь</font></td>
<td class="meteo"><font color="#9900ff">Снег<br>с дождем</font></td>
<td class="meteo"><font color="#9900ff">Снег<br>с дождем</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
</tr>
<tr><td class="legend">Облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
</tr>
<tr><td class="legend">Видимость, км</td>
<td class="meteo">9.0</td>
<td class="meteo">8.0</td>
<td class="meteo">8.0</td>
<td class="meteo">8.0</td>
<td class="meteo">3.4</td>
<td class="meteo">1.8</td>
<td class="meteo">1.5</td>
<td class="meteo">1.2</td>
</tr>
<tr><td class="legend">Минимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo">+0.4</td>
<td class="meteo">+0.4</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Максимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">+3.9</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Температура на высоте 2 см, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Снежный покров, см</td>
<td class="meteo"></td>
<td class="meteo">13</td>
<td class="meteo">12</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">14</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Осадки за 12 ч, мм</td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">12.0</font></td>
<td class="meteo">18.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">11.0</font></td>
<td class="meteo">14.0</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Порыв ветра, м/с</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td></tr>
<tr>
<td class="dat" bgcolor="#F2F2F2" width="">25.01.2021</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">00</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">03</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">06</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">09</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">12</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">15</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">18</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">21</td>
</tr>
<tr><td class="legend">Температура воздуха, °C</td>
<td class="meteo">+2.3</td>
<td class="meteo">+1.9</td>
<td class="meteo">+1.5</td>
<td class="meteo">+1.6</td>
<td class="meteo">+1.6</td>
<td class="meteo">+2.1</td>
<td class="meteo">+2.5</td>
<td class="meteo">+0.6</td>
</tr>
<tr><td class="legend">Давление на уровне моря, гПа</td>
<td class="meteo">1000</td>
<td class="meteo">1001</td>
<td class="meteo">1002</td>
<td class="meteo">1002</td>
<td class="meteo">1000</td>
<td class="meteo">999</td>
<td class="meteo">997</td>
<td class="meteo">995</td>
</tr>
<tr><td class="legend">Влажность, %</td>
<td class="meteo">100</td>
<td class="meteo">99</td>
<td class="meteo">99</td>
<td class="meteo">99</td>
<td class="meteo">100</td>
<td class="meteo">99</td>
<td class="meteo">99</td>
<td class="meteo">99</td>
</tr>
<tr><td class="legend">Направление и скорость ветра, м/с</td>
<td class="meteo">Южный, 3</td>
<td class="meteo">Ю-В, 2</td>
<td class="meteo">Ю-В, 2</td>
<td class="meteo">Ю-В, 2</td>
<td class="meteo">С-В, 2</td>
<td class="meteo">С-В, 3</td>
<td class="meteo">Восточный, 3</td>
<td class="meteo">С-В, 3</td>
</tr>
<tr><td class="legend">Метеорологическое явление</td>
<td class="meteo"><font color="#FF9900">Туман</font></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"><font color="#FF9900">Туман</font></td>
<td class="meteo"><font color="#660066">Морось</font></td>
<td class="meteo"><font color="#0099ff">Дождь</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
</tr>
<tr><td class="legend">Облачность</td>
<td class="meteo"> </td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo"> </td>
<td class="meteo"> </td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
</tr>
<tr><td class="legend">Видимость, км</td>
<td class="meteo">0.7</td>
<td class="meteo">1.1</td>
<td class="meteo">1.6</td>
<td class="meteo">1.4</td>
<td class="meteo">0.6</td>
<td class="meteo">0.4</td>
<td class="meteo">6.0</td>
<td class="meteo">5.0</td>
</tr>
<tr><td class="legend">Минимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo">+1.8</td>
<td class="meteo">+1.5</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Максимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">+2.8</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Температура на высоте 2 см, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Снежный покров, см</td>
<td class="meteo"></td>
<td class="meteo">16</td>
<td class="meteo">16</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">14</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Осадки за 12 ч, мм</td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.7</font></td>
<td class="meteo">0.7</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.0</font></td>
<td class="meteo">2.0</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Порыв ветра, м/с</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td></tr>
<tr>
<td class="dat" bgcolor="#F2F2F2" width="">24.01.2021</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">00</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">03</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">06</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">09</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">12</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">15</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">18</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">21</td>
</tr>
<tr><td class="legend">Температура воздуха, °C</td>
<td class="meteo">+0.5</td>
<td class="meteo">-0.4</td>
<td class="meteo">-0.5</td>
<td class="meteo">+0.0</td>
<td class="meteo">+0.7</td>
<td class="meteo">+1.6</td>
<td class="meteo">+2.4</td>
<td class="meteo">+2.4</td>
</tr>
<tr><td class="legend">Давление на уровне моря, гПа</td>
<td class="meteo">1004</td>
<td class="meteo">1003</td>
<td class="meteo">1003</td>
<td class="meteo">1002</td>
<td class="meteo">1000</td>
<td class="meteo">999</td>
<td class="meteo">998</td>
<td class="meteo">999</td>
</tr>
<tr><td class="legend">Влажность, %</td>
<td class="meteo">93</td>
<td class="meteo">96</td>
<td class="meteo">100</td>
<td class="meteo">100</td>
<td class="meteo">99</td>
<td class="meteo">99</td>
<td class="meteo">99</td>
<td class="meteo">98</td>
</tr>
<tr><td class="legend">Направление и скорость ветра, м/с</td>
<td class="meteo">Восточный, 2</td>
<td class="meteo">Ю-В, 4</td>
<td class="meteo">Ю-В, 4</td>
<td class="meteo">Ю-В, 3</td>
<td class="meteo">Ю-В, 2</td>
<td class="meteo">Ю-В, 2</td>
<td class="meteo">Ю-В, 2</td>
<td class="meteo">Ю-В, 3</td>
</tr>
<tr><td class="legend">Метеорологическое явление</td>
<td class="meteo"></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"><font color="#FF9900">Туман</font></td>
<td class="meteo"><font color="#cc0099">Гололед</font></td>
<td class="meteo"><font color="#660066">Морось</font></td>
<td class="meteo"><font color="#660066">Морось</font></td>
<td class="meteo"><font color="#0099ff">Дождь</font></td>
<td class="meteo"><font color="#660066">Морось</font></td>
</tr>
<tr><td class="legend">Облачность</td>
<td class="meteo">Переменная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo"> </td>
<td class="meteo"> </td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
</tr>
<tr><td class="legend">Видимость, км</td>
<td class="meteo">10.0</td>
<td class="meteo">3.8</td>
<td class="meteo">0.9</td>
<td class="meteo">0.9</td>
<td class="meteo">1.7</td>
<td class="meteo">1.9</td>
<td class="meteo">4.2</td>
<td class="meteo">1.1</td>
</tr>
<tr><td class="legend">Минимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo">-0.4</td>
<td class="meteo">-0.5</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Максимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">+2.5</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Температура на высоте 2 см, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Снежный покров, см</td>
<td class="meteo"></td>
<td class="meteo">19</td>
<td class="meteo">19</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">18</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Осадки за 12 ч, мм</td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.0</font></td>
<td class="meteo">0.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.6</font></td>
<td class="meteo">1.0</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Порыв ветра, м/с</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td></tr>
<tr>
<td class="dat" bgcolor="#F2F2F2" width="">23.01.2021</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">00</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">03</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">06</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">09</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">12</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">15</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">18</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">21</td>
</tr>
<tr><td class="legend">Температура воздуха, °C</td>
<td class="meteo">-1.6</td>
<td class="meteo">-0.4</td>
<td class="meteo">+0.0</td>
<td class="meteo">+2.3</td>
<td class="meteo">+5.9</td>
<td class="meteo">+1.7</td>
<td class="meteo">+2.9</td>
<td class="meteo">+2.0</td>
</tr>
<tr><td class="legend">Давление на уровне моря, гПа</td>
<td class="meteo">1003</td>
<td class="meteo">1004</td>
<td class="meteo">1005</td>
<td class="meteo">1006</td>
<td class="meteo">1005</td>
<td class="meteo">1006</td>
<td class="meteo">1005</td>
<td class="meteo">1005</td>
</tr>
<tr><td class="legend">Влажность, %</td>
<td class="meteo">98</td>
<td class="meteo">99</td>
<td class="meteo">99</td>
<td class="meteo">94</td>
<td class="meteo">80</td>
<td class="meteo">94</td>
<td class="meteo">89</td>
<td class="meteo">90</td>
</tr>
<tr><td class="legend">Направление и скорость ветра, м/с</td>
<td class="meteo">Штиль</td>
<td class="meteo">Южный, 1</td>
<td class="meteo">Южный, 1</td>
<td class="meteo">Южный, 2</td>
<td class="meteo">Ю-В, 2</td>
<td class="meteo">Ю-В, 1</td>
<td class="meteo">Ю-В, 2</td>
<td class="meteo">Ю-В, 2</td>
</tr>
<tr><td class="legend">Метеорологическое явление</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Небольшая<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Безоблачно</td>
</tr>
<tr><td class="legend">Видимость, км</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">8.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
</tr>
<tr><td class="legend">Минимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo">-2.3</td>
<td class="meteo">-2.3</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Максимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">+6.1</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Температура на высоте 2 см, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Снежный покров, см</td>
<td class="meteo"></td>
<td class="meteo">20</td>
<td class="meteo">20</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">19</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Осадки за 12 ч, мм</td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.0</font></td>
<td class="meteo">0.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.0</font></td>
<td class="meteo">0.0</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Порыв ветра, м/с</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td></tr>
<tr>
<td class="dat" bgcolor="#F2F2F2" width="">22.01.2021</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">00</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">03</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">06</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">09</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">12</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">15</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">18</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">21</td>
</tr>
<tr><td class="legend">Температура воздуха, °C</td>
<td class="meteo">-0.9</td>
<td class="meteo">-2.5</td>
<td class="meteo">-2.2</td>
<td class="meteo">-1.8</td>
<td class="meteo">+0.6</td>
<td class="meteo">-1.1</td>
<td class="meteo">+1.2</td>
<td class="meteo">-1.6</td>
</tr>
<tr><td class="legend">Давление на уровне моря, гПа</td>
<td class="meteo">1008</td>
<td class="meteo">1007</td>
<td class="meteo">1007</td>
<td class="meteo">1006</td>
<td class="meteo">1004</td>
<td class="meteo">1004</td>
<td class="meteo">1003</td>
<td class="meteo">1004</td>
</tr>
<tr><td class="legend">Влажность, %</td>
<td class="meteo">92</td>
<td class="meteo">95</td>
<td class="meteo">97</td>
<td class="meteo">96</td>
<td class="meteo">90</td>
<td class="meteo">95</td>
<td class="meteo">92</td>
<td class="meteo">97</td>
</tr>
<tr><td class="legend">Направление и скорость ветра, м/с</td>
<td class="meteo">Южный, 3</td>
<td class="meteo">Южный, 2</td>
<td class="meteo">Южный, 4</td>
<td class="meteo">Ю-В, 3</td>
<td class="meteo">Ю-В, 2</td>
<td class="meteo">Ю-В, 1</td>
<td class="meteo">Южный, 2</td>
<td class="meteo">Южный, 1</td>
</tr>
<tr><td class="legend">Метеорологическое явление</td>
<td class="meteo"></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Облачность</td>
<td class="meteo">Безоблачно</td>
<td class="meteo">Небольшая<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Переменная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Безоблачно</td>
</tr>
<tr><td class="legend">Видимость, км</td>
<td class="meteo">10.0</td>
<td class="meteo">5.0</td>
<td class="meteo">2.8</td>
<td class="meteo">3.7</td>
<td class="meteo">8.0</td>
<td class="meteo">6.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
</tr>
<tr><td class="legend">Минимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo">-3.0</td>
<td class="meteo">-3.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Максимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">+1.5</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Температура на высоте 2 см, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Снежный покров, см</td>
<td class="meteo"></td>
<td class="meteo">20</td>
<td class="meteo">20</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">20</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Осадки за 12 ч, мм</td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.0</font></td>
<td class="meteo">0.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.0</font></td>
<td class="meteo">0.0</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Порыв ветра, м/с</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td></tr>
<tr>
<td class="dat" bgcolor="#F2F2F2" width="">21.01.2021</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">00</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">03</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">06</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">09</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">12</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">15</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">18</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">21</td>
</tr>
<tr><td class="legend">Температура воздуха, °C</td>
<td class="meteo">-7.9</td>
<td class="meteo">-5.8</td>
<td class="meteo">-2.8</td>
<td class="meteo">-0.5</td>
<td class="meteo">+0.8</td>
<td class="meteo">+1.0</td>
<td class="meteo">+0.8</td>
<td class="meteo">+0.6</td>
</tr>
<tr><td class="legend">Давление на уровне моря, гПа</td>
<td class="meteo">1012</td>
<td class="meteo">1010</td>
<td class="meteo">1009</td>
<td class="meteo">1009</td>
<td class="meteo">1008</td>
<td class="meteo">1009</td>
<td class="meteo">1009</td>
<td class="meteo">1008</td>
</tr>
<tr><td class="legend">Влажность, %</td>
<td class="meteo">90</td>
<td class="meteo">94</td>
<td class="meteo">94</td>
<td class="meteo">93</td>
<td class="meteo">90</td>
<td class="meteo">90</td>
<td class="meteo">93</td>
<td class="meteo">89</td>
</tr>
<tr><td class="legend">Направление и скорость ветра, м/с</td>
<td class="meteo">Южный, 3</td>
<td class="meteo">Южный, 4</td>
<td class="meteo">Южный, 3</td>
<td class="meteo">Южный, 5</td>
<td class="meteo">Южный, 4</td>
<td class="meteo">Южный, 4</td>
<td class="meteo">Южный, 3</td>
<td class="meteo">Южный, 3</td>
</tr>
<tr><td class="legend">Метеорологическое явление</td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"><font color="#666">Дымка</font></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Небольшая<br>облачность</td>
</tr>
<tr><td class="legend">Видимость, км</td>
<td class="meteo">3.2</td>
<td class="meteo">4.1</td>
<td class="meteo">3.4</td>
<td class="meteo">6.0</td>
<td class="meteo">8.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
</tr>
<tr><td class="legend">Минимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo">-10.7</td>
<td class="meteo">-10.7</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Максимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">+1.1</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Температура на высоте 2 см, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Снежный покров, см</td>
<td class="meteo"></td>
<td class="meteo">22</td>
<td class="meteo">22</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">21</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Осадки за 12 ч, мм</td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">2.0</font></td>
<td class="meteo">2.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.0</font></td>
<td class="meteo">0.0</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Порыв ветра, м/с</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td></tr>
<tr>
<td class="dat" bgcolor="#F2F2F2" width="">20.01.2021</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">00</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">03</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">06</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">09</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">12</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">15</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">18</td>
<td class="dat" bgcolor="#F2F2F2" width="8%">21</td>
</tr>
<tr><td class="legend">Температура воздуха, °C</td>
<td class="meteo">-12.5</td>
<td class="meteo">-15.0</td>
<td class="meteo">-17.1</td>
<td class="meteo">-13.1</td>
<td class="meteo">-12.3</td>
<td class="meteo">-11.5</td>
<td class="meteo">-10.7</td>
<td class="meteo">-9.5</td>
</tr>
<tr><td class="legend">Давление на уровне моря, гПа</td>
<td class="meteo">1019</td>
<td class="meteo">1019</td>
<td class="meteo">1020</td>
<td class="meteo">1019</td>
<td class="meteo">1018</td>
<td class="meteo">1016</td>
<td class="meteo">1015</td>
<td class="meteo">1014</td>
</tr>
<tr><td class="legend">Влажность, %</td>
<td class="meteo">87</td>
<td class="meteo">86</td>
<td class="meteo">88</td>
<td class="meteo">81</td>
<td class="meteo">75</td>
<td class="meteo">82</td>
<td class="meteo">86</td>
<td class="meteo">86</td>
</tr>
<tr><td class="legend">Направление и скорость ветра, м/с</td>
<td class="meteo">Ю-В, 1</td>
<td class="meteo">Южный, 1</td>
<td class="meteo">Штиль</td>
<td class="meteo">Ю-В, 3</td>
<td class="meteo">Ю-В, 3</td>
<td class="meteo">Ю-В, 2</td>
<td class="meteo">Ю-В, 3</td>
<td class="meteo">Ю-В, 3</td>
</tr>
<tr><td class="legend">Метеорологическое явление</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
<td class="meteo"><font color="#ccff66">Снег</font></td>
</tr>
<tr><td class="legend">Облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Переменная<br>облачность</td>
<td class="meteo">Небольшая<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Переменная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
<td class="meteo">Сплошная<br>облачность</td>
</tr>
<tr><td class="legend">Видимость, км</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">10.0</td>
<td class="meteo">6.0</td>
<td class="meteo">2.7</td>
</tr>
<tr><td class="legend">Минимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo">-15.4</td>
<td class="meteo">-18.4</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Максимальная температура воздуха, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">-10.6</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Температура на высоте 2 см, °C</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Снежный покров, см</td>
<td class="meteo"></td>
<td class="meteo">20</td>
<td class="meteo">20</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo">21</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Осадки за 12 ч, мм</td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.0</font></td>
<td class="meteo">0.0</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"><font color="#999">0.0</font></td>
<td class="meteo">0.3</td>
<td class="meteo"></td>
</tr>
<tr><td class="legend">Порыв ветра, м/с</td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
<td class="meteo"></td>
</tr>
<tr><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td><td style="border:0px">&nbsp;</td></tr>
</tbody></table>
</body>
</html>