*{
    outline: none;
}
.admin-nav__admin{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 30px;
    grid-gap: 30px;
}
.admin-nav{
    display: grid;
    grid-template-columns: 8fr 2fr 1fr;
    align-items: center;
    margin-bottom: 30px;
    grid-gap: 30px;
}
.btn-edit-succes{
    display: block;
    padding: 10px;
    background: #3a6e9f;
    text-align: center;
    color: #fff;
    border:0px;
    margin:0 auto;
}
.btn-edit, .admin-nav .admin-nav-item a, .admin-nav__admin .admin-nav-item a, .submit-btn, .btn-edit__password{
    display: block;
    padding: 10px;
    background: #3a6e9f;
    text-align: center;
    color: #fff;
    border:0px;
}
.admin-nav__admin .admin-nav-item .exit, .admin-nav .admin-nav-item .exit{
    background: #ca0808;;

}
.btn-edit:hover, .admin-nav .admin-nav-item a:hover{
    background: #1f486f;
    transition: .3s linear;
}
.btn-delete{
    display: block;
    padding: 10px;
    background: #ca0808;
    text-align: center;
    color: #fff;
    border:0px;
    cursor: pointer;
}

.btn-delete:hover{
    background:#6d0000;
    transition: .3s linear;
}

/* Форма аторизации */

.login-header-form{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.form-login{
    text-align: center;
}

.item-form-login{
    margin: 2rem 0;
    position: relative;
}
.input-form-login{
    width: 100%;
    max-width: 352px;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    border: 1px solid #666;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1.15;
    font-family: inherit;
    text-transform: none;
}

.item-form-login .required{
    position: absolute;
    bottom: -1.5rem;
    color: #ca0808;;
}

.content-admin{
    display: grid;
    grid-template-columns: 3fr 6fr;
}

.submit-btn{
    margin: 0 auto;
    width: 100%;
    max-width: 352px;
    cursor: pointer;
}
.goods-list__item__admin{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.goods-list__item__admin__user{
    grid-template-columns: 2fr 2fr 2fr 2fr 0fr;
    align-items: center;
    justify-content: center;
}

.content-admin .goods-item{
    padding: 0 0;
}

.modal-user-admin{
    display: block;
    padding: 20px;
    background-color:#3a6e9f;
    color: #fff;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-user-admin .top-header-modal__admin{
    display: grid;
    grid-template-columns: 10fr 3fr;
    text-align: center;
}

.modal-user-admin .modal-edit-inner{
    display: grid;
    grid-column: auto;
    grid-gap: 20px;
}